---
extends: react-app
rules:
  sort-imports:
  - error
  - ignoreCase: true
    ignoreMemberSort: false
    memberSyntaxSortOrder:
    - none
    - all
    - multiple
    - single
  sort-vars:
  - error
  - ignoreCase: true
  sort-keys:
  - error
  - caseSensitive: false
    natural: true
